.socialmedia {
  display: flex;
  align-items: center;

  &--centered {
    justify-content: center;
  }
}

.socialmedia__item + .socialmedia__item {
  margin-left: 10px;
}

.socialmedia__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--light {
    background-color: transparent;
  }

  &--dark {
    background-color: $footer-socialmedia-bg;
  }

  &:hover,
  &:focus {
    background-color: $accent-blue;
  }
}

.socialmedia__icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--light {
    fill: $icon-grey;
  }

  &--dark {
    fill: $white;
  }

  .socialmedia__link:hover &,
  .socialmedia__link:focus & {
    fill: $white;
  }
}
